.products-container {
    animation: fadeIn 2s;
    align-items: center;
    padding-top: 30px;
    /*border-radius: 8px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    background-color: rgb(57, 54, 54);;
  }
 

  
  .content-container {
    max-width: 1000px;
    width:50%;
    padding: 30px;
    background-color:burlywood;
    color:black;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    float:inline-start;
  }
  
  h2 {
    font-size: 64px; 
    margin-bottom: 20px;
    margin-top: 0; 
  }
  
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  